<header>
  <h1 *ngIf="title">Welcome to {{ title }}!</h1>
</header>

<main >
  <div>
  <article class="project"
  *ngFor="let project of projects"
  [class.hidden]="categoryFilter && project.category.id != categoryFilter.id"
>
 
      
        <h2>{{ project.title }}</h2>
        <div [innerHTML]="project.excerpt"></div>
        <p *ngIf="project.category">
          Category:
          <a href="#" (click)="setCategoryFilter(project.category)">
            {{ project.category.name }}
          </a>
        </p>
        <div class="tags" *ngIf="project.tags && project.tags.length">
          Tags:
          <ul>
            <li *ngFor="let tag of project.tags">
              <a href="#" (click)="setTagFilter(tag)">{{ tag.name }}</a>
            </li>
          </ul>
        </div>
        <p>Created at: {{ project.created_at | date }}</p>
        <p>Updated at: {{ project.updated_at | date }}</p>
  </article>
</div>
  <aside>
    <section *ngIf="categoryFilter!=undefined">
    <h2 >Filter</h2>
    <p>{{categoryFilter.name}} <a href="#" (click)="clearFilters()" ><img src="../assets/images/bin.png"/></a></p>
  </section>
    <h2>Categories</h2>
    <ul>
      <li *ngFor="let category of categories">
        <a href="#" (click)="setCategoryFilter(category)">{{ category.name }}</a>
      </li>
    </ul>
    <h2>Tags</h2>
    <ul>
      <li *ngFor="let tag of tags">
        <a href="#" (click)="setTagFilter(tag)">{{ tag.name }}</a>
      </li>
    </ul>
  </aside>
  
  </main>
<footer>
  &copy; Alex Aguilar 2024
</footer>