<header class="header">
  <h1 *ngIf="title">{{ title }}</h1>
  <!--Waves Container-->
<div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  </div>
  <!--Waves end-->
  </header>

<main >
  <div>
    <div class="aside">
      <section *ngIf="categoryFilter!=undefined" class="aside-inside">
      <h2 >Filter</h2>
      <p>{{categoryFilter.name}} <a href="#" (click)="clearFilters()" ><img src="../assets/images/bin.png"/></a></p>
    </section>
    <div class="aside-inside-cat">
      <h2>Categories</h2>
      <ul>
        <li *ngFor="let category of categories">
          <a href="#" (click)="setCategoryFilter(category)">{{ category.name }}</a>
        </li>
      </ul>
      <h2>Tags</h2>
      <ul>
        <li *ngFor="let tag of tags">
          <a href="#" (click)="setTagFilter(tag)">{{ tag.name }}</a>
        </li>
      </ul>
      
      
      
    </div>
    </div>
    <article class="project flip"
    *ngFor="let project of projects; index as i"
    [class.hidden]="categoryFilter && project.category.id !== categoryFilter.id"
>
 
        <div class="front" (mouseleave)="handleMouseLeave(i)"  [style.background-image]="project.image ? 'url(' + project.image + ')' : 'url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)'">
        <h2>{{ project.title }}</h2>
      </div>
      <div class="back" (mouseleave)="handleMouseLeave(i)"  (click)="toggleExpand(i)" [class.expanded]="isExpanded[i]">

        <h2 *ngIf="project.title && isExpanded[i]">{{ project.title }}</h2>
        <div [innerHTML]="project.excerpt"></div>
        <p *ngIf="project.category">
          Category:
          <a href="#" (click)="setCategoryFilter(project.category)">
            {{ project.category.name }}
          </a>
        </p>
        <div class="tags" *ngIf="project.tags && project.tags.length">
          Tags:
          <ul>
            <li *ngFor="let tag of project.tags">
              <a href="#" (click)="setTagFilter(tag)">{{ tag.name }}</a>
            </li>
          </ul>
        </div>
        <p *ngIf="project.body && isExpanded[i]">
          {{ project.body }}</p>

        <!-- <p *ngIf="project.link">
          <a href="{{ project.link }}" target="_blank">Demo</a></p> -->
      </div>
  </article>
</div>
  
  
  </main>
<footer>
  &copy; Alex Aguilar 2024
</footer>